*,
::before,
::after {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: inherit;
}

html {
    //this defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to left bottom, #011126, #34264f, #793266, #bd4064, #ef644c, #fd803c, #ffa028, #ffc110, #ffcb19, #ffd521, #ffdf2b, #fee934);
}

img {
    width: 100%;
    height: 100%;
}