body {
    font-family: 'Ginger_light', sans-serif;
    color: $sivaBoja;
    font-weight: 400;
    line-height: 1.7;

}

h2,
h3,
h4,
h5,
h6 {

    color: $plavaBoja;
    line-height: 1.2;
    font-weight: 500;
}