header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 6px;


    a {
        color: $textBoja;
    }

    ul {
        // display: inline-block;
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 0px;

        li {
            display: inline;
            padding: 0 30px;

            a {
                text-decoration: none;
            }
        }




    }

    .right {
        width: 20%;
        justify-content: flex-end;

        // li:last-child {
        //     // justify-content: flex-end;

        a {
            color: #00010D
        }

        // }
    }



    .center {
        width: 60%;
        justify-content: center;
    }

    .left {
        width: 20%;
        justify-content: flex-start;
        padding-left: 30px;

        li {
            padding: 0;


        }

        .logo {
            width: 120px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}